@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.hamburger {
  color-scheme: only light;
  background: transparent !important;
}

.hamburger-line {
  transition: transform 0.25s ease;
  background-image: linear-gradient(white, white);
  forced-color-adjust: none; 
}

.open .hamburger-line:first-child {
  transform: rotate(45deg) translate(5px, 5px);
}

.open .hamburger-line:nth-child(2) {
  opacity: 0;
}

.open .hamburger-line:last-child {
  transform: rotate(-45deg) translate(5px, -5px);
}

